<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ChapterDao">
    <!--分页查询章节-->
    <select id="selectAllChapter" resultType="Chapter">
        select
          *
        from
          Chapter
        where
          ALBUM_ID=#{albumid}
        limit #{qishi},#{count}
    </select>

    <!--查询总条数 通过条件查询-->
    <select id="totalNumber" resultType="Integer">
        select count(id) from Chapter where ALBUM_ID=#{albumid}
    </select>

    <!--通过id查询数据-->
    <select id="selectId" resultType="Chapter">
        select * from Chapter where id=#{id}
    </select>

    <!--通过专辑id查询所有章节-->
    <select id="selectAlbumId" resultType="Chapter">
        select * from Chapter where ALBUM_ID=#{id}
    </select>

    <!--添加章节-->
    <insert id="insert">
        insert into
          Chapter
        set
          id=#{id},
          TITLE=#{title},
          ALBUM_ID=#{album_id},
          SIZE=#{size},
          DURATION=#{duration},
          SRC=#{src},
          STATUS=#{status}
    </insert>

    <!--修改章节-->
    <update id="update">
        update
        Chapter
        <trim suffixOverrides="," prefix="set">
            <if test="title!=null">
                title=#{title},
            </if>
            <if test="album_id!=null">
                album_id=#{album_id},
            </if>
            <if test="size!=null">
                size=#{size},
            </if>
            <if test="duration!=null">
                duration=#{duration},
            </if>
            <if test="src!=''">
                src=#{src},
            </if>
            <if test="status!=null">
                status=#{status}
            </if>
        </trim>
        where id=#{id}
    </update>

    <!--批量删除-->
    <delete id="delete">
        delete from
        Chapter where id in
        <foreach collection="array" open="(" item="ids" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
</mapper>